// Variables
$accent-color: tomato;
$grey: darken(#eee, 10%);
$colors: (#512DA8, #00ACC1, goldenrod, #4A148C, #009688);


// Base
*:not(body):not(html) {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
ul, li {
  padding: 0;
  list-style: none;
}

.header>* {
  margin-left: 20px;
}

// Repo Cards

#output {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-content: space-between;
  flex-wrap: wrap;
  >li {
    margin: 20px;
    transition: all .3s ease-in-out;
  }
  >li:hover {
    transform: scale(1.05);
  }
  &>li:nth-child(5n+1) {
    background-color: nth($colors, 1);
  }
  &>li:nth-child(5n+2) {
    background-color: nth($colors, 2);
  }
  &>li:nth-child(5n+3) {
    background-color: nth($colors, 3);
  }
  &>li:nth-child(5n+4) {
    background-color: nth($colors, 4);
  }
  &>li:nth-child(5n+5) {
    background-color: nth($colors, 5);
  }
}

.repo-item {
  min-height: 250px;
  flex: 1 1 100%;
  padding: 20px;
  position: relative;
  .repo-name {
    font-size: 1.4em;
    color: #fff;
    width: 80%;
    word-wrap: break-word;
    text-transform: capitalize;
    font-weight: bold;
  }
  .repo-info {
    font-size: .9em;
    color: #fff;
    text-transform: capitalize;
  }
  .repo-watchers {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 7px;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    background-color: #fff;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .repo-url {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: $grey;
    a {
      color: #000;
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}
